.footer
    .footer-title
        span Узнай о новостях первым!
    .footer-input
        .footer-input-group
            input(type="email", name="footer-email" placeholder="Введите e-mail")
            img(src="assets/images/arrow.svg" alt="")
    .footer-social
        img(src="assets/images/vk-icon.svg" alt="")
        img(src="assets/images/instagram-icon.svg" alt="")
        img(src="assets/images/facebook-icon.svg" alt="")
        img(src="assets/images/twitter-icon.svg" alt="")
        img(src="assets/images/telegram-icon.svg" alt="")

    .footer-menu
        a.header-menu__link.active(href="") Происшествия
        a.header-menu__link.active(href="") Общество
        a.header-menu__link.active(href="") Политика
        a.header-menu__link.active(href="") Спорт
        a.header-menu__link.active(href="") Культура
        a.header-menu__link.active(href="") Бизнес
    .footer-info
        .footer-info-left
            span Сайт носит исключительно информационный характер. Редакция может не разделять мнение автора.
        .footer-info-right
            span Все права защищены &copy; 2019 gorodmurino.ru