.header
    .hamburger.hamburger--collapse
            .hamburger-box
                .hamburger-inner
    .header-title город<br>мурино
    .header-menu    
        a.header-menu__link(href="incidents.html") Происшествия
        a.header-menu__link(href="society.html") Общество
        a.header-menu__link(href="politics.html") Политика
        a.header-menu__link(href="sport.html") Спорт
        a.header-menu__link(href="culture.html") Культура
        a.header-menu__link(href="business.html") Бизнес
    .header-buttons
        a.header-write__btn.yellow-btn(href="")                          
            span Написать
        a.header-find__btn(href="")
            img(src="assets/images/menu-find.svg")               
            span Поиск
        a.header-find__btn(href="")
            img(src="assets/images/menu-user.svg")               
            span Вход
        
    //- nav.header-mobile-menu
    //-     .search-form-mobile
    //-         form(action="")
    //-             input(type="search", placeholder="Поиск")
    //-     a.header-menu__link.active(href="") Журнал техподдержки
    //-     a.header-menu__link(data-fancybox data-src="#modal-gift" data-options='{ "touch": false }') Модерация подарков
    //-     a.header-menu__link(data-fancybox data-src="#modal-acc" data-options='{ "touch": false }') Модерация аккаунтов
    //-     a.header-exit__btn(href="")               
    //-         span Выход


           
        