extends ../template

block variables
    - var title = 'Оператор'    

block content
    .main-container
        .main-news
            .main-news-left-block
                .main-news-left-block__image
                    img(src="assets/images/main-new-img.jpg" alt="")
                .main-news-left-block__title
                    span Мурино стал лидером по качеству жизни и радости жителей
                .main-news-left-block__meta-info.meta-info
                    .main-news-left-block__meta-info-date.meta-info__item
                        img(src="assets/images/date-icon.svg", alt="")
                        span 21 февраля
                    .main-news-left-block__meta-info-views.meta-info__item
                        img(src="assets/images/views-icon.svg", alt="")
                        span 350 просмотров
                    .main-news-left-block__meta-info-comments.meta-info__item
                        img(src="assets/images/comments-icon.svg", alt="")
                        span 31 комментарий

            .main-news-right-block
                .main-news-right-block__title
                    span Новости
                .main-news-right-block__content
                    .main-news-right-block__content-new
                        .main-news-right-block__content-new-title
                            span Сегодня в Мурино все люди счастливы
                        .main-news-right-block__content-new-meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21 февраля
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350 просмотров
                    .main-news-right-block__content-new
                        .main-news-right-block__content-new-title
                            span Люди вышли делиться радостью и улыбками
                        .main-news-right-block__content-new-meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21 февраля
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350 просмотров
                            
                .main-news-right-block__btn
                    a
                        span Смотреть всё

        .main-news
            .main-news-left-block.grid-block
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-1.jpg" alt="")
                    .main-news-left-block__title
                        span Уровень жизни достиг критически высоких показателей
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-2.jpg" alt="")
                    .main-news-left-block__title
                        span Малый бизнес выразил свою благодарность к администрации
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-3.jpg" alt="")
                    .main-news-left-block__title
                        span “Любовь, взаимопонимание - вот основа хорошей жизни”
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-4.jpg" alt="")
                    .main-news-left-block__title
                        span Малый бизнес выразил свою благодарность к администрации
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-5.jpg" alt="")
                    .main-news-left-block__title
                        span Уровень жизни достиг критически высоких показателей
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-6.jpg" alt="")
                    .main-news-left-block__title
                        span “Любовь, взаимопонимание - вот основа хорошей жизни”
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31

            .main-news-right-block
                .main-news-right-block__title
                    span Подборки
                .main-news-right-block__content
                    .main-news-right-block__content-item                        
                        span Аварии и происшествия                        
                    .main-news-right-block__content-item                        
                        span ЖКХ и благоустройство                        
                    .main-news-right-block__content-item                        
                        span Дороги и транспорт                        
                    .main-news-right-block__content-item                        
                        span Криминал и преступления                        
                    .main-news-right-block__content-item                        
                        span Культура и отдых                        
                    .main-news-right-block__content-item                        
                        span Район и жители

        .top-news
            .top-news-title
                span Самое обсуждаемое за январь
            .top-news-content
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-4.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-3.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-2.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-1.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                            
                

