extends ../template

block variables
    - var title = 'Спорт'
    - var page_number = 3   

block content
    .main-container
        .breadcrumbs
            .breadcrumbs-link
                a(href="index.html") Главная
                img(src="assets/images/breadcrumbs.svg" alt="")
            .breadcrumbs-link
                a(href="sport.html") Спорт
                img(src="assets/images/breadcrumbs.svg" alt="")
        .page-title
            span Спорт
        .cat-buttons
            a.cat__new
                span Свежее
            a.cat__today
                span За сегодня
            a.cat__popular
                span Популярное
            a.cat__popular-1
                span Популярное
        .main-news.head-new
            .main-news-left-block
                .main-news-left-block__image
                    img(src="assets/images/main-new-img.jpg" alt="")
                .main-news-left-block__title
                    span Мурино стал лидером по качеству жизни и радости жителей
                .main-news-left-block__meta-info.meta-info
                    .main-news-left-block__meta-info-date.meta-info__item
                        img(src="assets/images/date-icon.svg", alt="")
                        span 21 февраля
                    .main-news-left-block__meta-info-views.meta-info__item
                        img(src="assets/images/views-icon.svg", alt="")
                        span 350 просмотров
                    .main-news-left-block__meta-info-comments.meta-info__item
                        img(src="assets/images/comments-icon.svg", alt="")
                        span 31 комментарий

            .main-news-right-block.survey                

        .main-news.four-columns
            .main-news-left-block.grid-block
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-1.jpg" alt="")
                    .main-news-left-block__title
                        span Уровень жизни достиг критически высоких показателей
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-2.jpg" alt="")
                    .main-news-left-block__title
                        span Малый бизнес выразил свою благодарность к администрации
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-3.jpg" alt="")
                    .main-news-left-block__title
                        span “Любовь, взаимопонимание - вот основа хорошей жизни”
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31
                .main-news-left-block__new.grid-new
                    .main-news-left-block__image
                        img(src="assets/images/grid-new-4.jpg" alt="")
                    .main-news-left-block__title
                        span Малый бизнес выразил свою благодарность к администрации
                    .main-news-left-block__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31 
            .adaptive-right-block
                .main-news-right-block.survey.head-new

            

        .road-news
            .road-news-title
                span Дорожные новости
            .road-news-content
                .road-news-left
                    .road-news-left__image
                        img(src="assets/images/road-new-main.jpg" alt="")
                    .road-news-left__title
                        span В Мурино больше не знают, что такое пробки
                    .road-news-left__meta-info.meta-info
                        .main-news-left-block__meta-info-date.meta-info__item
                            img(src="assets/images/date-icon.svg", alt="")
                            span 21 февраля
                            span.mobile 21.02.2019
                        .main-news-left-block__meta-info-views.meta-info__item
                            img(src="assets/images/views-icon.svg", alt="")
                            span 350 просмотров
                            span.mobile 350
                        .main-news-left-block__meta-info-comments.meta-info__item
                            img(src="assets/images/comments-icon.svg", alt="")
                            span 31 комментарий
                            span.mobile 31
                .road-news-right.scrollbar-dynamic
                    .road-news-right-new
                        .road-news-right__image
                            img(src="assets/images/road-new-1.jpg" alt="")
                        .road-news-right-content
                            .road-news-right__title
                                span Зарядные устройства для электромобилей установлены в каждом дворе
                            .road-news-right__meta-info.meta-info
                                .main-news-left-block__meta-info-date.meta-info__item
                                    img(src="assets/images/date-icon.svg", alt="")
                                    span 21.02.2019
                                .main-news-left-block__meta-info-views.meta-info__item
                                    img(src="assets/images/views-icon.svg", alt="")
                                    span 350
                                .main-news-left-block__meta-info-comments.meta-info__item
                                    img(src="assets/images/comments-icon.svg", alt="")
                                    span 31
                    .road-news-right-new
                        .road-news-right__image
                            img(src="assets/images/road-new-2.jpg" alt="")
                        .road-news-right-content
                            .road-news-right__title
                                span Прошли первые испытания летающей маршрутки
                            .road-news-right__meta-info.meta-info
                                .main-news-left-block__meta-info-date.meta-info__item
                                    img(src="assets/images/date-icon.svg", alt="")
                                    span 21.02.2019
                                .main-news-left-block__meta-info-views.meta-info__item
                                    img(src="assets/images/views-icon.svg", alt="")
                                    span 350
                                .main-news-left-block__meta-info-comments.meta-info__item
                                    img(src="assets/images/comments-icon.svg", alt="")
                                    span 31
                    .road-news-right-new
                        .road-news-right__image
                            img(src="assets/images/road-new-3.jpg" alt="")
                        .road-news-right-content
                            .road-news-right__title
                                span Каждую среду такси работают бесплатно, но только за улыбку
                            .road-news-right__meta-info.meta-info
                                .main-news-left-block__meta-info-date.meta-info__item
                                    img(src="assets/images/date-icon.svg", alt="")
                                    span 21.02.2019
                                .main-news-left-block__meta-info-views.meta-info__item
                                    img(src="assets/images/views-icon.svg", alt="")
                                    span 350
                                .main-news-left-block__meta-info-comments.meta-info__item
                                    img(src="assets/images/comments-icon.svg", alt="")
                                    span 31
                    .road-news-right-new
                        .road-news-right__image
                            img(src="assets/images/road-new-4.jpg" alt="")
                        .road-news-right-content
                            .road-news-right__title
                                span “Парковочных мест хватит еще на 4 млн. жителей” - заявил глава администрации
                            .road-news-right__meta-info.meta-info
                                .main-news-left-block__meta-info-date.meta-info__item
                                    img(src="assets/images/date-icon.svg", alt="")
                                    span 21.02.2019
                                .main-news-left-block__meta-info-views.meta-info__item
                                    img(src="assets/images/views-icon.svg", alt="")
                                    span 350
                                .main-news-left-block__meta-info-comments.meta-info__item
                                    img(src="assets/images/comments-icon.svg", alt="")
                                    span 31
                    .road-news-right-new
                        .road-news-right__image
                            img(src="assets/images/road-new-1.jpg" alt="")
                        .road-news-right-content
                            .road-news-right__title
                                span Зарядные устройства для электромобилей установлены в каждом дворе
                            .road-news-right__meta-info.meta-info
                                .main-news-left-block__meta-info-date.meta-info__item
                                    img(src="assets/images/date-icon.svg", alt="")
                                    span 21.02.2019
                                .main-news-left-block__meta-info-views.meta-info__item
                                    img(src="assets/images/views-icon.svg", alt="")
                                    span 350
                                .main-news-left-block__meta-info-comments.meta-info__item
                                    img(src="assets/images/comments-icon.svg", alt="")
                                    span 31
                    .road-news-right-new
                        .road-news-right__image
                            img(src="assets/images/road-new-1.jpg" alt="")
                        .road-news-right-content
                            .road-news-right__title
                                span Зарядные устройства для электромобилей установлены в каждом дворе
                            .road-news-right__meta-info.meta-info
                                .main-news-left-block__meta-info-date.meta-info__item
                                    img(src="assets/images/date-icon.svg", alt="")
                                    span 21.02.2019
                                .main-news-left-block__meta-info-views.meta-info__item
                                    img(src="assets/images/views-icon.svg", alt="")
                                    span 350
                                .main-news-left-block__meta-info-comments.meta-info__item
                                    img(src="assets/images/comments-icon.svg", alt="")
                                    span 31

    .main-container
        .top-news
            .top-news-title
                span Популярное
            .top-news-content
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-4.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-3.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-2.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                .main-news-left-block__new.grid-new
                        .main-news-left-block__image
                            img(src="assets/images/grid-new-1.jpg" alt="")
                        .main-news-left-block__title
                            span Уровень жизни достиг критически высоких показателей
                        .main-news-left-block__meta-info.meta-info
                            .main-news-left-block__meta-info-date.meta-info__item
                                img(src="assets/images/date-icon.svg", alt="")
                                span 21.02.2019
                            .main-news-left-block__meta-info-views.meta-info__item
                                img(src="assets/images/views-icon.svg", alt="")
                                span 350
                            .main-news-left-block__meta-info-comments.meta-info__item
                                img(src="assets/images/comments-icon.svg", alt="")
                                span 31
                            
                

