.meta-info {
    display: flex;
    flex-direction: row;
    span {
        font-size: 12px;
        color: #818181;
        margin-left: 10px;
    }
    .meta-info__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 37px;
    }  
    .meta-info__item:first-child {
        margin-left: 0;
    } 
}
.main-news-left-block__image img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.main-news-left-block__title {
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
}
.main-news-left-block__title span {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    color: #111;
}
.main-news-left-block__title span:hover {
    text-decoration-line: underline;
}
.main-news {    
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 310px;
    grid-column-gap: 40px;
    .main-news-right-block {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;                             
        .main-news-right-block__title {
            margin-bottom: 20px;
            padding: 0 20px;
            span {
                font-weight: 500;
                font-size: 24px;
            }            
        }
        .main-news-right-block__btn {
            cursor: pointer;
            width: 144px;
            height: 32px;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 3px;            
            margin: 0 auto;
            margin-top: auto;            
            display: flex;
            justify-content: center;
            align-items: center;                       
        }
        .main-news-right-block__content-new {
            padding: 20px 20px;            
            position: relative;
            cursor: pointer;
        }
        .main-news-right-block__content-new::before {
            content: "";
            position: absolute;
            top: 0;
            left: 20px;
            width: 270px;
            border-bottom: 1px solid #CFCFCF;
        }
        .main-news-right-block__content-new:hover {
            background-color: #FEFFEC;
        }
        .main-news-right-block__content-new-title {
           margin-bottom: 20px; 
        }
    }
}
.main-news-left-block.grid-block {    
    display: grid;    
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto); 
    .grid-new {
        .main-news-left-block__title span {
            font-size: 18px;
            font-weight: bold;
            color: #111;
        }
        .main-news-left-block__image img {
            height: 351px;
        }
        .main-news-left-block__image img:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -o-transform: translateY(-5px);
        }
    }           
}
.main-news-right-block__content-item {
    padding: 20px;
    position: relative;
    cursor: pointer;                
}
.main-news-right-block__content-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 270px;
    border-bottom: 1px solid #CFCFCF;
}
.main-news-right-block__content-item:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 270px;
    border-bottom: 1px solid #111;
}
.main-news-right-block__content-item:hover {
    background-color: #FEFFEC;
}
.top-news {
    margin-top: 40px;
    margin-bottom: 40px;
    .top-news-title {
        margin-bottom: 20px;
        span {
            font-size: 24px;
            font-weight: bold;
        }                
    }
    .top-news-content {
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
        .main-news-left-block__title span {
            font-size: 18px;
            color: #111;
        }
    }
    
    
}
.road-news {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 78%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 0 30px 20px;
    box-sizing: border-box;
    .road-news-content {
        display: flex;
        flex-direction: row;        
    }   
    .road-news-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .road-news-left {
        .road-news-left__title {
            margin-top: 20px;
            margin-bottom: 20px;
            span {
                font-weight: bold;
            }
        }                    
    }
    .road-news-right {        
        overflow: hidden;
        max-height: 515px;       
        .road-news-right-new {
            padding: 0 0 0 40px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            .road-news-right-content {
                margin-left: 20px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .road-news-right__title {
                    padding-right: 15px;
                    margin-bottom: 10px;
                }
            }
        }
        .road-news-right-new:hover {
            background-color: #FEFFEC;
        }
    }
}
.banner {
    width: 100%;
    margin-top: 40px;
    height: 36vw;
    box-sizing: border-box;
    background-image: url('../images/banner.png');
    background-size: cover;
    position: relative;
    .banner-title {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        padding-top: 20px;        
    }
    .banner-content {
        position: absolute;
        top: 20%;
        left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        
        .banner-block__title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .banner-block__content-item {
            margin-bottom: 30px;
            img {
                margin-left: 15px;
                margin-right: 10px;
            }
        } 
        .banner-block__content-item:last-child {
            margin-bottom: 40px;
        }       
    }    
}
.scrollbar-dynamic>.scroll-element .scroll-bar {
    border-radius: 0px;
}
.scrollbar-dynamic>.scroll-element .scroll-element_outer {
    border-radius: 0px;
}
.scrollbar-dynamic>.scroll-element.scroll-y .scroll-element_outer {
    right: -2px;
}
.scrollbar-dynamic>.scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic>.scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    width: 7px;
}
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    border-radius: 0px;
}


.main-news-right-block.head-new {
    display: none;
}
.adaptive-right-block {
    .main-news-right-block {
        height: 100%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1326px) {
    .road-news {
        width: 100%;
    }  
    .banner {
        .banner-content {
            .banner-block__title {
                font-size: 14px;
                align-self: flex-start;
            }
            .banner-block__content {
                .banner-block__content-item {
                    margin-bottom: 20px;
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1248px) {
    .main-news-left-block.grid-block {
        grid-template-columns: minmax(0, auto) minmax(0, auto);
    }
    .main-news.head-new {
        grid-template-columns: 1fr;
        .main-news-right-block {
            display: none;
        }        
    }    
    .adaptive-right-block {
        display: grid;
        grid-row-gap: 20px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
        .main-news-right-block.head-new {
            display: flex;            
        }        
    }
    .road-news {
        padding-left: 10px;
        padding-bottom: 20px;
        .road-news-content {
            .road-news-left {
                max-height: 52vw;
                .meta-info__item {
                    margin-left: 25px;                    
                }
                .meta-info__item:first-child {
                    margin-left: 0;
                }
                .road-news-left__image {
                    img {
                        width: 50vw;
                        height: 41vw;
                    }
                }
                .road-news-left__title {
                    margin-bottom: 10px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .road-news-right {               
                .road-news-right-new {
                    margin-bottom: 20px;
                    .road-news-right-content {
                        margin-left: 10px;
                    }
                    .road-news-right__title {
                        font-size: 12px;
                    }
                    .road-news-right__image {
                        img {
                            width: 12.6vw;
                            height: 10.1vw;
                        }
                    }
                    padding-left: 20px;
                    .meta-info__item {
                        margin-left: 30px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                    .meta-info__item:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .top-news {
        .top-news-content {
            grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
        }
    }   
}
@media screen and (max-width: 856px) {
    .banner {
        background-image: url('../images/banner_tablet.png');
    }
}
@media screen and (max-width: 1000px) {            
    .banner {
        min-height: 360px;                
    }
    .top-news, .main-news-left-block.grid-block {
        .meta-info {
            .meta-info__item {
                margin-left: 25px;
            }
            .meta-info__item:first-child {
                margin-left: 0;
            }
        }
    }    
    .main-news-left-block__title {
        span {
            font-size: 18px;
        }
    }
    .top-news {
        .top-news-content {
            grid-column-gap: 20px;
            .main-news-left-block__title {
                span {
                    font-size: 14px; 
                }
            }
        }
    }
    .main-news-left-block.grid-block {
        grid-column-gap: 20px;
        .grid-new {
            .main-news-left-block__title {
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .main-news {
        .main-news-right-block {            
            .main-news-right-block__content-new::before {
                width: 200px;
                left: 10px;
            }
            .main-news-right-block__content-item, .main-news-right-block__content-new {
                padding: 20px 10px;
            }
            .main-news-right-block__title {
                padding: 0 10px;
            }
        }
        grid-column-gap: 20px;
        grid-template-columns: 1fr 230px;
        .main-news-right-block__content-item:first-child::before,
        .main-news-right-block__content-item:after,
        .main-news-right-block__content-new:before  {
            width: 200px;
            left: 10px;
        }
    }
    .main-container, .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header {
        .header-mobile-menu {
            .header-links, .header-buttons {
                margin-left: 0;
            }
        }
    }    
}