.search-result-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .page-title {
        margin-bottom: 0;
        span {
            font-size: 36px;
        }
    }
}
.search-page-option select {
    visibility: hidden;
}
.search-result-news {
    margin-bottom: 40px;
}
.search-page-option {
    align-self: flex-end;
}
.optWrapper {
    font-size: 14px;
}
.SumoSelect:focus>.CaptionCont, .SumoSelect:hover>.CaptionCont, .SumoSelect.open>.CaptionCont {
    box-shadow: none;
}
.SumoSelect {
    width: auto;
    height: 100%;
}
.SumoSelect>.optWrapper {
    width: auto;
}
.SelectBox {
    padding: 0;
}
.SumoSelect>.CaptionCont {
    border: none;
    font-size: 14px;
    text-decoration-line: underline;
    label {
        i {
            background-image: url("../images/search-result-option.svg");
        }
    }
}

@media screen and (max-width: 1248px) {
    .search-result-news {
        display: block;
        .grid-block {
            grid-template-columns: 1fr 1fr 1fr;
        }        
    }
    .search-result-title {
        .page-title {
            span {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 767px) {    
    .search-result-news {
        .grid-block {
            grid-template-columns: minmax(0, auto) minmax(0, auto);        
        }        
    }    
}
@media screen and (max-width: 600px) {
    .search-result-news {
        margin-top: 20px;                    
        .grid-block {
            grid-template-columns: minmax(0, auto);                      
        }
    }
    .search-result-title {
        flex-direction: column;
        .page-title {
            span {
                font-size: 14px;
            }
        }
        .search-page-option {
            align-self: flex-start;
            margin-top: 20px;
        }
        .SumoSelect > .CaptionCont {
            font-size: 10px;
            label {
                i {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}