@import "vendor/normalize.scss";
@import "vendor/animate.scss";
@import "vendor/hamburgers.min.scss";
@import "vendor/jquery.scrollbar.scss";
@import "vendor/sumoselect.scss";
@import "common/header.scss";
@import "pages/index.scss";
@import "common/footer.scss";
@import "pages/section.scss";
@import "pages/search-result.scss";

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
}