.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;   
    a {
        text-decoration: none;
        color: #111;
    }
    .hamburger {
        display: none;
    } 
    .header-menu.hidden {
        display: none;
    }
    .header-find__input.is-active {
        display: flex;
        flex-direction: row;         
        justify-content: space-between;        
        margin: 0 auto;
    }   
    .header-find__input {        
        display: none;
        width: 60%;       
        input {   
            width: 100%;        
            outline: none;
            border: none;
            background-image: url('../images/menu-find.svg');
            background-repeat: no-repeat;
            background-position-y: 3px;
            padding-left: 25px;
        }
        a {
            text-decoration-line: underline;
        }
    }
    .header-title.hidden {
        display: none;
    }
    .header-title {   
        font-weight: 900;
        font-size: 18px;    
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .header-menu a {        
        margin-right: 38px;
    }
    .header-menu a:last-child {        
        margin-right: 0;
    }
    .header-menu a:hover {        
        border-bottom: 1px solid #111;
    }
    .header-menu {
        a.active {
            border-bottom: 1px solid #111; 
        }
    }
    .header-write__btn.hidden {
        display: none;
    } 
    .header-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-end; 
        .header-find__btn.is-active {
            display: none;
        }          
        a {            
            margin-left: 43px;        
        }
        a:first-child {
            margin-left: 0;            
        }
        a:last-child {
            margin-left: 52px;
        }
        img {
            margin-right: 10px;
        }
    }
    .header-mobile-menu {
        display: none;
        width: 300px;
        height: auto;
        background-color: #fff;        
        position: absolute;
        top: 0;
        left: 0;
        z-index: 49;
        padding-left: 20px;
        .header-links {
            margin-top: 80px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            a {
                margin-top: 40px;
            }
        } 
        .header-buttons {
            margin-top: 60px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            a {
                margin-bottom: 40px;
                align-self: flex-start;
                margin-left: 0;
                display: block;
            }
            
        }      
    }  
    .header-mobile-menu.active {
        display: block;                
    } 
}
.yellow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 32px;
    background: #FDFFC8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px; 
}
.yellow-btn:hover, .white-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    cursor: pointer;
}
.yellow-btn:active, .white-btn:active {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    cursor: pointer;
}
body {
    padding: 20px 0 0 0;
}
.header, .main-container {
    padding: 0 40px;
}
.main-container {
    max-width: 1404px;
    margin: 0 auto;
}

@media screen and (max-width: 1256px) {
    .header-menu {
        display: none;
    }
    .header .hamburger {
        display: block;
        padding-bottom: 5px;
        padding-left: 0;
        z-index: 50;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        height: 2px;
    }    
    .header-title {
        margin-right: auto;
        z-index: 50;
    }
}
@media screen and (max-width: 768px) {
    .enter-btn {
        display: none;
    }
    .header {
        .header-find__input {
            width: 80%;
        }
    }        
}
@media screen and (max-width: 767px) {
    .header-find__btn {
        span {
            display: none;
        }
    }
    .header-write__btn {
        display: none;
    }
    .header-title {
        margin-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .header {
        .header-find__input {
            font-size: 14px;
        }
    } 
}

@media screen and (max-width: 400px) {
    .header {
        .header-find__input {
            font-size: 12px;
            input {
                background: none;
            }
        }
    } 
}
